*
{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

/* Aside */
aside
{
    background-color: rgb(14, 13, 13);
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 25px;
    color: grey;
}

#tablet-desktop
{
    width: 150px;
}

aside ul li 
{
    display: flex;
    align-items: center;
}

aside svg{
    width: 30px;
}

aside ul li span
{
    padding: 10px;
}
aside h2
{
    padding-top: 30px;
}

aside h3, aside h2
{
    color: white;
}
.spotify-logo--text
{
    width: 200px;
}
.testo-bianco
{
    color: white;
}
aside ul>li> img
{
    vertical-align:middle;
}
aside ul
{
    list-style-type: none;

}

aside ul li
{
    padding: 5px 0px;
}

.testo-crea-playlist
{
    font-size: 20px;
    line-height: 50px;
}

/* main */
main
{
    background-color: rgb(20, 21, 26);
    height: calc(100vh - 100px);
    width: 100%;
    overflow-y: scroll;

}
/* main header */
main header
{
    background-color: rgb(11, 11, 12);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1001;
}
.bottone-header
{
    border-radius: 50px;
    background-color: black;
    border:1px white solid ;
    font-size: 18px;
    padding: 15px 20px;
    color: white;
    position: fixed;
    right: 0px;
    top: 20px;
}
/*main nav */
main nav
{
margin-top: 110px;
}



main nav ul
{
    list-style-type: none;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}
main nav ul li
{
    padding: 15px 10px;
    color: grey;
}
/* corpo Spotify */
main section
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section h1
{
    color: white;
}

.row>div
{
    padding: 5px;
}
.row img
{
    max-width: 250px;
    width: 100%;
    min-width: 50px; 
}
.cerchio
{
    border-radius: 50%;
}

.testo
{
    
}



/* footer */
footer
{
    background-color: rgb(36, 34, 34);
    height: 100px;
    width: 100%; 
    width: 100%;
    position: fixed;
    z-index: 1001;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

footer>div
{
    display: flex;
    align-items: stretch;

}

footer>div div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    color: grey;

}

footer ul
{
    display: flex;
    height: 100px;
    list-style-type: none ;
    align-items: center;
    flex-direction: column;
}

footer ul>li
{
    padding: 5px 10px;
}


footer .img
{
    max-width:100px;
    min-width: 20px;
    max-height: 100px;
    min-height: 20px;
     
}
.audio
{

}