*
{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Montserrat', serif;
}

/* Aside */
aside
{
    background-color: rgb(14, 13, 13);
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 25px;
    color: grey;
}

#tablet-desktop
{
    width: 150px;
}

aside ul li 
{
    display: flex;
    align-items: center;
}

aside svg{
    width: 30px;
}
aside i
{
    font-size: 24px;
}
aside ul li span
{
    padding: 5px;
}
aside h2
{
    padding-top: 30px;
}

aside h3, aside h2
{
    color: white;
}
.spotify-logo--text
{
    width: 200px;
}
.testo-bianco
{
    color: white;
}
aside ul>li> img
{
    vertical-align:middle;
}
aside ul
{
    list-style-type: none;

}

aside ul li
{
    padding: 5px 0px;
}

aside .scroll
{
    overflow-y: scroll;
    max-height: 300px;
}

::-webkit-scrollbar
{
    background-color: rgb(26, 25, 25);
    border-radius: 50px;
    width: 5px;
    border: 1px solid gray;
}

.testo-crea-playlist
{
    font-size: 20px;
    line-height: 50px;
}

/* main */
main
{
    background-color: rgb(20, 21, 26);
    height: calc(100vh - 100px);
    width: 100%;
    overflow-y: scroll;

}
/* main header */
main header
{
    background-color: rgb(11, 11, 12);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1001;
}
.bottone-header
{
    border-radius: 50px;
    background-color: black;
    border:1px white solid ;
    font-size: 14px;
    padding: 15px 20px;
    color: white;
    position: fixed;
    right: 20px;
    top: 20px;
}

.bottone-header:hover
{
    transform: scale(1.2);
    padding: 10px 15px;

}
/*main nav */
main nav
{
margin-top: 110px;
}



main nav ul
{
    list-style-type: none;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}
main nav ul li
{
    padding: 15px 10px;
    color: grey;
}
/* corpo Spotify */
main section
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section h1
{
    color: white;
}

section h4
{
    color:gray;
    text-align: center;
}

.row-b h4
{
    text-align: left;
}

.testo h1{
    color: white;
    text-align: center;
}
.colonna-section img 
{
    max-width: 250px;
    min-width: 130px;
    width: 100%;
    max-height: 250px;
    min-height: 130px;
    height: 100%;
}
.colonna-section >i
{
    font-size: 80px;
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    color: white;
    display: none;
}
.colonna-section:hover i
{
    display: block;
}
.colonna-section:hover img
{
    opacity: 0.5;

}

.colonna-section
{
    position: relative;
}

.row>div
{
    padding: 5px;
}

.cerchio
{
    border-radius: 50%;
}

.row-b
{
    width: 100%;
    max-height: 1000px;
    height: 100%;
    margin-top: 50px ;
}





/* footer */
footer
{
    background-color: rgb(36, 34, 34);
    height: 100px;
    width: 100%; 
    width: 100%;
    position: fixed;
    z-index: 1001;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

footer>div
{
    display: flex;
    align-items: stretch;

}

footer>div div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    color: grey;

}

footer ul
{
    display: flex;
    height: 100px;
    list-style-type: none ;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer .colonna-footer>li
{
    padding: 5px 10px;
}

footer .icon
{
    font-size: 24px;
    color: white;
}

footer .img
{
    max-width:100px;
    min-width: 20px;
    max-height: 100px;
    min-height: 20px;
     
}
.colonna-footer
{
    width: 25%;
    flex-basis: 230px;
}

.colonna-footer-2
{
    width: 50%;
}
.audio
{
    display: flex;
    flex-direction: column;
}
.lettore-audio
{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lettore-audio ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.lettore-audio ul>li
{
    padding: 5px 15px;
}
.lettore-audio ul li i
{
    color: white;
    font-size: 20px;
}
.riga-audio
{
    position: relative;
}
.riga-audio hr
{
    width: 100%;
    height: 1px;
    background-color: white;

}
.punto-auto
{
    position: absolute;
    left: 0%;
    height: 1px;
    background-color: white;
    width: 20%;
    border-radius: 50px;
    padding: 2px;
}

.opzioni-audio ul
{
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-direction: row;
}
.opzioni-audio ul li
{
    padding: 5px;
}
.opzioni-audio ul li i
{
    font-size: 24px;
    color: white;
}
.opzioni-audio ul li hr 
{
    width: 80%;
}

.punto
{
    position: relative;
}

.pallino-fine
{
    width: 3px;
    height: 3px;
    background-color: lightgray;
    position: absolute;
    right: 0%;
    border-radius: 50%;
}
.icon-grande
{
    
}

/* hover */

 nav li hr
{
    display: none;
    border: 1px solid green;

}

nav li:hover hr
{
    display: block;
    width: 60%; 
    margin: auto;
}

aside i:hover , svg:hover
{
    transform: scale(1.2);
}

aside ul li:hover hr
{
  display: flex;
  width: 20px;
  transform:rotate(90deg);
}

aside ul li hr
{
  display: none;
  border: 1px solid green;
}

.col-xs-6:hover .pallino-fine
{
    display: block;
}

.pallino-fine
{
    display: none;
}
